@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: "#fcfcfc";
  background-image: radial-gradient(#e3e8da 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
